<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="CRMDbContext" connectionString="metadata=res://*/DBContext.CRMDbContext.csdl|res://*/DBContext.CRMDbContext.ssdl|res://*/DBContext.CRMDbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-N9CPGEB\MSSQLSERVER14;initial catalog=XOX.CRM.Live2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="CRMDbContext" connectionString="metadata=res://*/DBContext.CRMDbContext.csdl|res://*/DBContext.CRMDbContext.ssdl|res://*/DBContext.CRMDbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEYANLAIF2EB\SQLEXPRESS;initial catalog=xoxcrmtest;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="CRMDbContext" connectionString="metadata=res://*/DBContext.CRMDbContext.csdl|res://*/DBContext.CRMDbContext.ssdl|res://*/DBContext.CRMDbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=appstream.dyndns-wiki.com,1433;initial catalog=XOX.CRM;user id=sa;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="EAI_HOST" value="http://localhost:36510/" />
    <add key="TERMINATION_FILEPATH" value="C:\Users\Joseph\Desktop\" />
    <add key="GENERATE_BILL_FILEPATH" value="D:\Scheduler\GenerateBillPayment\" />
    <add key="DAILY_PAYMENT_FILEPATH" value="D:\Scheduler\DailyPayment\" />
  </appSettings>
  <!-- Log4net Logging Setup -->
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender,log4net">
      <file value="log4net.txt" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>